.slide {
    width: 100%;
   
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    padding: 20px;
    top: 50%;
}
.next{
    right: 0;
}
.prev:hover, .next:hover{
background: rgba(0, 0, 0, 0.8);
}